<p>Hola {{ name }},</p>
<p>Por favor, haz clic a continuación para confirmar tu correo electrónico</p>
<p>
    <a href="{{ url }}">Confirmar</a>
</p>
<p>Si no solicitaste este correo electrónico, puedes ignorarlo de forma segura.</p>
